<div class="admin-page">
    <section class="admin-page-title">
        <span>文章管理</span>
        <span class="subtitle">共<span id="num">N/A</span>篇文章</span>
        <div class="admin-page-search-panel">
            <input type="text" class="search-input" placeholder="标题/作者/分类" /><div class="search-button">Search</div>
        </div>
    </section>
    <section id="loading">
        <div class="loading-panel">
            <div class="point"><div class="inner"></div></div>
            <div class="point"><div class="inner"></div></div>
            <div class="point"><div class="inner"></div></div>
            <div class="point"><div class="inner"></div></div>
            <div class="point"><div class="inner"></div></div>
            <div class="point"><div class="inner"></div></div>
        </div>
    </section>
    
    <section class="admin-page-content" id="articleList">
        
    </section>
    <section class="paging">
        <div class="paging-panel" id="paging">
            <div class="paging-button prev"><</div>
            <div class="paging-num cur">1</div>
            <div class="paging-button next">></div>
            <div class="paging-input-panel">
                <input type="text" class="paging-input" maxlength="3"><div class="paging-button goto">GO</div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
seajs.use(['Paging', 'Dialog'], function (Paging, Dialog){
    var paging = new Paging();
    var loadArticle = function (page){
        var $article = $('#articleList'),
            $load = $('#loading');

        var render = function (data){
            var items = data.data,
                cur;
            var str = '<ul class="admin-list">';
            for (var i = 0, count = items.length; i < count; i++){
                cur = items[i];
                if (cur['content'] && cur['content'].length > 200){
                    cur['content'] = cur['content'].substr(0, 200) + '...';
                }
                str += '<li class="list-item" data-id="' + cur['id'] + '">' +
                        '<div class="list-item-grid">' +
                            '<span class="key">标题</span>' +
                            '<span class="value">' + cur['title'] + '</span>' +
                        '</div>' +
                        '<div class="list-item-grid">' +
                            '<span class="key">作者</span>' +
                            '<span class="value">' + cur['username'] + '</span>' +
                        '</div>' +
                        '<div class="list-item-grid">' +
                            '<span class="key">创建时间</span>' +
                            '<span class="value">' + cur['createDate'] + '</span>' +
                        '</div>' +
                        '<div class="list-item-grid">' +
                            '<span class="key">修改时间</span>' +
                            '<span class="value">' + cur['updateDate'] + '</span>' +
                        '</div>' +
                        '<div class="list-item-grid">' +
                            '<span class="key">阅读数</span>' +
                            '<span class="value">' + cur['count'] + '</span>' +
                        '</div>' +
                        '<div class="list-item-splict"></div>' +
                        '<div class="list-item-grid">' +
                            '<span class="key">正文摘要</span>' +
                            '<span class="value">' + cur['content'] + '</span>' +
                        '</div>' +
                        '<div class="list-item-splict"></div>' +
                        '<div class="list-item-grid">' +
                            '<span class="key">操作</span>' +
                            '<span class="value">' +
                                '<div class="grid-button modifyBtn">修改</div>' +
                                '<div class="grid-button deleteBtn">删除</div>' +
                            '</span>' +
                        '</div></li>';
            }
            str += '</ul>';
            $load.hide();
            $article.html(str);
            $('#num').html(data.totalItems);
        };

        $load.show();
        $article.empty();
        if (!$.isNumeric(page) || page < 1){
            page = 1;
        }
        $.ajax({
            url: '/admin/getArticle',
            type:'GET',
            data:{page:page},
            success: function (res){
                render(res);
                paging.totalPage = res.totalPage;
                paging.curPage = res.curPage;
                paging.init();
            }
        });
    };


    $(function (){
        paging.$target = $('#paging');
        paging.totalPage = 1;
        paging.onPage = function (page){
            paging.disable();
            loadArticle(page);
        }
        loadArticle();

        //修改article
        $(document).on('click', '#articleList .list-item .modifyBtn', function (){
            var $this = $(this);
            var id = $this.parent().parent().parent().attr('data-id');
            window.location.href = '/admin/editor?articleId=' + id;
        });

        //删除article
        var d = new Dialog;
        d.isShowCancel = true;
        d.message = '确定要删除吗?';
        $(document).on('click', '#articleList .list-item .deleteBtn', function (){
            var $this = $(this);
            var id = $this.parent().parent().parent().attr('data-id');
            d.onConfirm = function (){
                $.ajax({
                    url:'/admin/doDeleteArticle',
                    type:'POST',
                    data:{articleId:id},
                    success: function (res){
                        loadArticle();
                    }
                });
            };
            d.show();
        });
    });
});
</script>