<div class="admin-page">
    <section class="admin-page-title">
        <span>文章管理</span>
    </section>
    <section class="admin-page-content">
        <ul class="admin-list">
            <li class="list-item">
                
            </li>
            <li class="list-item">2</li>
            <li class="list-item">3</li>
            <li class="list-item">4</li>
            <li class="list-item">5</li>
            <li class="list-item">6</li>
        </ul>
    </section>
</div>