<div class="admin-page">
    <section class="admin-page-title">
        <span>文章管理</span>
        <span class="subtitle">共13条</span>
    </section>
    <section class="admin-page-content">
        <ul class="admin-list">
            <li class="list-item">
                <div class="list-item-grid">
                    <span class="key">id</span>
                    <span class="value">23</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">标题</span>
                    <span class="value">测试文章标题</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">作者</span>
                    <span class="value">测试作者</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">创建时间</span>
                    <span class="value">2015-12-30 12:01:01</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">修改时间</span>
                    <span class="value">2015-12-30 15:06:07</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">阅读数</span>
                    <span class="value">1251</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">正文摘要</span>
                    <span class="value">选车：由于自己之前开的是高尔夫6，也玩了几年改装，以及个人使用的见解之类的东西。所以我个人选   车，一个是操控，二一个是动力，三一个是配置之类的，反而对空间之类的不是很在乎，够自己使 用就好。上个车开了四年一切都满意，唯独1.4T动力越来越不能满足于我，所以才萌发了换车的念 之后就是各...</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">操作</span>
                    <span class="value">
                        <div class="grid-button">修改</div>
                        <div class="grid-button">删除</div>
                    </span>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-grid">
                    <span class="key">id</span>
                    <span class="value">23</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">标题</span>
                    <span class="value">测试文章标题</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">作者</span>
                    <span class="value">测试作者</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">创建时间</span>
                    <span class="value">2015-12-30 12:01:01</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">修改时间</span>
                    <span class="value">2015-12-30 15:06:07</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">阅读数</span>
                    <span class="value">1251</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">正文摘要</span>
                    <span class="value">选车：由于自己之前开的是高尔夫6，也玩了几年改装，以及个人使用的见解之类的东西。所以我个人选   车，一个是操控，二一个是动力，三一个是配置之类的，反而对空间之类的不是很在乎，够自己使 用就好。上个车开了四年一切都满意，唯独1.4T动力越来越不能满足于我，所以才萌发了换车的念 之后就是各...</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">操作</span>
                    <span class="value">
                        <div class="grid-button">修改</div>
                        <div class="grid-button">删除</div>
                    </span>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-grid">
                    <span class="key">id</span>
                    <span class="value">23</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">标题</span>
                    <span class="value">测试文章标题</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">作者</span>
                    <span class="value">测试作者</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">创建时间</span>
                    <span class="value">2015-12-30 12:01:01</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">修改时间</span>
                    <span class="value">2015-12-30 15:06:07</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">阅读数</span>
                    <span class="value">1251</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">正文摘要</span>
                    <span class="value">选车：由于自己之前开的是高尔夫6，也玩了几年改装，以及个人使用的见解之类的东西。所以我个人选   车，一个是操控，二一个是动力，三一个是配置之类的，反而对空间之类的不是很在乎，够自己使 用就好。上个车开了四年一切都满意，唯独1.4T动力越来越不能满足于我，所以才萌发了换车的念 之后就是各...</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">操作</span>
                    <span class="value">
                        <div class="grid-button">修改</div>
                        <div class="grid-button">删除</div>
                    </span>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-grid">
                    <span class="key">id</span>
                    <span class="value">23</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">标题</span>
                    <span class="value">测试文章标题</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">作者</span>
                    <span class="value">测试作者</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">创建时间</span>
                    <span class="value">2015-12-30 12:01:01</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">修改时间</span>
                    <span class="value">2015-12-30 15:06:07</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">阅读数</span>
                    <span class="value">1251</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">正文摘要</span>
                    <span class="value">选车：由于自己之前开的是高尔夫6，也玩了几年改装，以及个人使用的见解之类的东西。所以我个人选   车，一个是操控，二一个是动力，三一个是配置之类的，反而对空间之类的不是很在乎，够自己使 用就好。上个车开了四年一切都满意，唯独1.4T动力越来越不能满足于我，所以才萌发了换车的念 之后就是各...</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">操作</span>
                    <span class="value">
                        <div class="grid-button">修改</div>
                        <div class="grid-button">删除</div>
                    </span>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-grid">
                    <span class="key">id</span>
                    <span class="value">23</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">标题</span>
                    <span class="value">测试文章标题</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">作者</span>
                    <span class="value">测试作者</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">创建时间</span>
                    <span class="value">2015-12-30 12:01:01</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">修改时间</span>
                    <span class="value">2015-12-30 15:06:07</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">阅读数</span>
                    <span class="value">1251</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">正文摘要</span>
                    <span class="value">选车：由于自己之前开的是高尔夫6，也玩了几年改装，以及个人使用的见解之类的东西。所以我个人选   车，一个是操控，二一个是动力，三一个是配置之类的，反而对空间之类的不是很在乎，够自己使 用就好。上个车开了四年一切都满意，唯独1.4T动力越来越不能满足于我，所以才萌发了换车的念 之后就是各...</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">操作</span>
                    <span class="value">
                        <div class="grid-button">修改</div>
                        <div class="grid-button">删除</div>
                    </span>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-grid">
                    <span class="key">id</span>
                    <span class="value">23</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">标题</span>
                    <span class="value">测试文章标题</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">作者</span>
                    <span class="value">测试作者</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">创建时间</span>
                    <span class="value">2015-12-30 12:01:01</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">修改时间</span>
                    <span class="value">2015-12-30 15:06:07</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">阅读数</span>
                    <span class="value">1251</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">正文摘要</span>
                    <span class="value">选车：由于自己之前开的是高尔夫6，也玩了几年改装，以及个人使用的见解之类的东西。所以我个人选   车，一个是操控，二一个是动力，三一个是配置之类的，反而对空间之类的不是很在乎，够自己使 用就好。上个车开了四年一切都满意，唯独1.4T动力越来越不能满足于我，所以才萌发了换车的念 之后就是各...</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">操作</span>
                    <span class="value">
                        <div class="grid-button">修改</div>
                        <div class="grid-button">删除</div>
                    </span>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-grid">
                    <span class="key">id</span>
                    <span class="value">23</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">标题</span>
                    <span class="value">测试文章标题</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">作者</span>
                    <span class="value">测试作者</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">创建时间</span>
                    <span class="value">2015-12-30 12:01:01</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">修改时间</span>
                    <span class="value">2015-12-30 15:06:07</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">阅读数</span>
                    <span class="value">1251</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">正文摘要</span>
                    <span class="value">选车：由于自己之前开的是高尔夫6，也玩了几年改装，以及个人使用的见解之类的东西。所以我个人选   车，一个是操控，二一个是动力，三一个是配置之类的，反而对空间之类的不是很在乎，够自己使 用就好。上个车开了四年一切都满意，唯独1.4T动力越来越不能满足于我，所以才萌发了换车的念 之后就是各...</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">操作</span>
                    <span class="value">
                        <div class="grid-button">修改</div>
                        <div class="grid-button">删除</div>
                    </span>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-grid">
                    <span class="key">id</span>
                    <span class="value">23</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">标题</span>
                    <span class="value">测试文章标题</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">作者</span>
                    <span class="value">测试作者</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">创建时间</span>
                    <span class="value">2015-12-30 12:01:01</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">修改时间</span>
                    <span class="value">2015-12-30 15:06:07</span>
                </div>
                <div class="list-item-grid">
                    <span class="key">阅读数</span>
                    <span class="value">1251</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">正文摘要</span>
                    <span class="value">选车：由于自己之前开的是高尔夫6，也玩了几年改装，以及个人使用的见解之类的东西。所以我个人选   车，一个是操控，二一个是动力，三一个是配置之类的，反而对空间之类的不是很在乎，够自己使 用就好。上个车开了四年一切都满意，唯独1.4T动力越来越不能满足于我，所以才萌发了换车的念 之后就是各...</span>
                </div>
                <div class="list-item-splict"></div>
                <div class="list-item-grid">
                    <span class="key">操作</span>
                    <span class="value">
                        <div class="grid-button">修改</div>
                        <div class="grid-button">删除</div>
                    </span>
                </div>
            </li>
        </ul>
    </section>
</div>