<div class="myself-article">
    <header class="header">
        <section class="author">
            <div class="author-img">
                <img src="{{authorImgUrl}}" alt="author">
            </div>
        </section>
        <section class="nav-link">
            <div class="link-btn">{{title}}</div>
        </section>
    </header>
    <main class="main">
        <div class="main-content"></div>
    </main>
    <footer class="footer">
        <section class="copyright">
            <span class="copyright">&copy; Copyright {{copyright}} All rights reserved.</span>
        </section>
        <section class="powered">
            <span class="powered">自豪地采用<a href="https://github.com/echoloyuk/MySelf" class="link">MySelf</a></span>
        </section>
    </footer>
</div>