<div class="myself-article">
    <header class="header">
        <section class="author">
            <div class="author-img">
                <img src="{{authorImgUrl}}" alt="author">
            </div>
        </section>
        <section class="nav-link">
            <div class="link-btn">{{title}}</div>
        </section>
    </header>
    <main class="main">
        <section id="loading">
            <div class="loading-panel">
                <div class="point"><div class="inner"></div></div>
                <div class="point"><div class="inner"></div></div>
                <div class="point"><div class="inner"></div></div>
                <div class="point"><div class="inner"></div></div>
                <div class="point"><div class="inner"></div></div>
                <div class="point"><div class="inner"></div></div>
            </div>
        </section>
        <section class="main-content">{{articleId}}</section>
    </main>
    <footer class="footer">
        <section class="copyright">
            <span class="copyright">&copy; Copyright {{copyright}} All rights reserved.</span>
        </section>
        <section class="powered">
            <span class="powered">自豪地采用<a href="https://github.com/echoloyuk/MySelf" class="link">MySelf</a></span>
        </section>
    </footer>
</div>

<script type="text/javascript">
seajs.use(['jquery'], function (){
    $(function (){
        
    });
});
</script>
