<div class="dashboard">
    <div class="left-side admin-panel">
        <div class="logo-panel">MySelf</div>
        <div class="nav-panel" id="nav">
            <div class="nav-inner">
            </div>
        </div>
        <div class="bottom-panel">
            <div class="bottom-inner">
                <div class="bottom-item">关于</div>
                <div class="bottom-item logout">登出</div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <iframe id="frame" src="/admin/welcome" class="right-frame" frameborder="0"></iframe>
    </div>
</div>



<script type="text/javascript">
seajs.use(['/static/js/dashboardConfig'], function (config){
    $(function (){
        
        // init ctrl list
        var cur, str = '';
        for (var i = 0, count = config.ctrlList.length; i < count; i++){
            cur = config.ctrlList[i];
            str += '<div class="nav-item" data-link="' + cur['link'] + '">' + cur['name'] + '</div>';
        }
        $('#nav .nav-inner').html(str);

        // ctrl click
        $('#nav .nav-inner .nav-item').off().on('click', function (){
            var $this = $(this),
                link = $this.attr('data-link');
            if (!link){
                return;
            }
            if ($this.hasClass('current')){
                return;
            }
            $('#frame').attr('src', link);
            $('#nav .nav-inner .nav-item').removeClass('current');
            $this.addClass('current');
        });
    });
});
</script>
