<div class="admin-editor">
    <div class="admin-editor-ctrl-panel">
        <div class="ctrl-list">
            <div class="ctrl-item">帮助</div>
            <div class="ctrl-item" id="back">返回</div>
            <div class="ctrl-item" id="submit">发布</div>
        </div>
    </div>
    <div id="editor" class="editor"></div>  
</div>
<div id="cache" style="display:none">{{{articleContent}}}</div>
<script type="text/javascript">
seajs.use(['HelloWorld', 'Dialog'], function (HelloWorld, Dialog){
    $(function (){
        var e = new HelloWorld($('#editor'));
        e.imgUrl = '/admin/doPostImage';
        e.init();
        $('#editor #hPreview').addClass('myself-content');

        var aType = '{{type}}';

        $('#submit').on('click', function (){
            var $this = $(this);
            if ($this.hasClass('disabled')){
                return;
            }
            var title = e.getTitle(),
                content = e.getContent();
            var data = {
                title: title,
                article: content
            };

            var d = new Dialog;
            $this.addClass('disabled');

            $.ajax({
                type:'POST',
                url: '/admin/doPostArticle',
                dataType: 'json',
                success: function (res){
                    isSubmit = true;
                    
                    if (res.stat === 'success'){
                        d.defaultOpen('发布成功');
                        e.clearEditor();
                        e.toPreview();
                    } else {
                        d.defaultOpen(res.info);
                    }
                },
                complete: function (){
                    $this.removeClass('disabled');
                },
                data:data
            });
        });

        $('#back').on('click', function (){
            if (aType === 'alter'){
                e.clearContext();
                window.location.href = '/admin/article';
            }
        });

        //修改文章或新建文章的判断
        if (!aType || aType === 'new'){
            //$('#hContent').val('');
            //$('#hTitle').val('');
        } else {
            var content = $('#cache').text();
            if (content){
                $('#hContent').val(content);
                $('#hTitle').val('{{articleTitle}}');
                e.toPreview();
            }
        }
    });
});
</script>