<div class="admin-editor">
    <div class="admin-editor-ctrl-panel"></div>
    <div id="editor"></div>  
</div>
<script type="text/javascript">
seajs.use(['HelloWorld'], function (HelloWorld){
    $(function (){
        var e = new HelloWorld($('#editor'));
        e.init();
    });
});
</script>
