<div class="myself-home">
    <header class="header">
        <section class="title">
            <h1>{{title}}</h1>
            <h2>{{subtitle}}</h2>
        </section>
        <section class="author">
            <div class="author-img">
                <img src="{{authorImgUrl}}" alt="author">
            </div>
        </section>
    </header>
    <main class="main">
        <section class="article-list" id="articleList"></section>
        <section class="paging">
            <div class="paging-panel" id="paging">
                <div class="paging-button prev"><</div>
                <div class="paging-num cur">1</div>
                <div class="paging-button next">></div>
                <div class="paging-input-panel">
                    <input type="text" class="paging-input" maxlength="3"><div class="paging-button goto">GO</div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="copyright">
            <span class="copyright">&copy; Copyright {{copyright}} All rights reserved.</span>
        </section>
        <section class="powered">
            <span class="powered">自豪地采用<a href="https://github.com/echoloyuk/MySelf" class="link">MySelf</a></span>
        </section>
    </footer>
</div>


<script type="text/javascript">
seajs.use(['masonry', 'Paging'], function (_, Paging){
    var page = new Paging();

    var loadArticle = function (pNum){
        var render = function (rows){
            if (!rows || !rows.length){
                return;
            }
            var cur, str = '', curContent;
            for (var i = 0, count = rows.length; i < count; i++){
                cur = rows[i];
                curContent = cur['content'].substr(0, 100) + ' ......';
                str += '<article class="article" data-id="' + cur['id'] + '">';
                if (!cur['imgUrl']){
                    str += '<section class="abstract"><span>' + curContent + '</span></section>';
                } else {
                    str += '<section class="abstract-img"><img width="300" height="300" src="' + cur['imgUrl'] + '" alt="img" /></section>';
                }
                str += '<section class="title"><span class="title">' + cur['title'] + '</span><span class="date">' + cur['date'] +'</span></section>';
                str += '</article>';
            }
            var waterfall = {
                itemSelector:'article.article',
                columnWidth:'article.article',
                gutter:20,
                transitionDuration:0
            };

            $('#articleList').masonry(waterfall).html(str).masonry('appended', $('#articleList article.article'));
            $('#articleList .article img').on('load', function (){
                $(this).removeAttr('width').removeAttr('height');
                $('#articleList').masonry(waterfall);
            });

        };
        $.ajax({
            url: './getArticleList',
            data: {page:pNum},
            type: 'GET',
            success: function (rows){
                console.log(rows);
                render(rows);
                page.init();
            }
        });
    }

    $(function (){

        page.$target = $('#paging');
        page.totalPage = 10;
        page.onPage = function (p){
            console.log(p);
            page.disable();
            loadArticle(p);
        }

        loadArticle(2);
    });
});
</script>
