<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <script type="text/javascript" src="/static/js/sea.js"></script>
        <script type="text/javascript" src="/static/js/sea.config.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
