<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <script type="text/javascript" src="/static/js/sea.js"></script>
        <script type="text/javascript" src="/static/js/sea.config.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/myself.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>
