<div class="login">
    <div class="login-panel">
        <form action="/admin/" method="post" id="form">
            <div class="login-title">MySelf</div>
            <div class="login-subtitle">where the conciseness begins!</div>
            <div class="login-input">
                <input type="text" class="input" name="username" placeholder="用户名">
            </div>
            <div class="login-input">
                <input type="password" class="input" name="password" placeholder="密码">
            </div>
            <div class="login-submit" id="login">登录</div>
        </form>
    </div>
</div>


<script type="text/javascript">
seajs.use('jquery', function (){
    $(function (){
        $('#login').on('click', function (){
            $.ajax({
                type:'POST',
                url: './doLogin',
                dataType: 'json',
                success: function (result){
                    result = (result.stat ? result : $.parseJSON(result));
                    console.log(result.stat);
                    if (result.stat === 'success'){
                        $('#form').submit();
                    }
                },
                complete: function (){
                    console.log(2);
                },
                error: function (err){
                    console.log(3);
                },
                data: {
                    username: $('input[name="username"]').val(),
                    password: $('input[name="password"]').val()
                }
            })
        });
    });
});
</script>
