<div class="login">
    <div class="login-panel">
        <form action="/admin/" method="post" id="form">
            <div class="login-title">MySelf</div>
            <div class="login-subtitle">where the conciseness begins!</div>
            <div class="login-input">
                <input type="text" class="input" name="username" placeholder="用户名">
            </div>
            <div class="login-input">
                <input type="password" class="input" name="password" placeholder="密码">
            </div>
            <div class="login-error" id="error"></div>
            <div class="login-submit" id="login">登录</div>
        </form>
    </div>
</div>


<script type="text/javascript">
seajs.use(['jquery'], function (Dialog){
    $(function (){
        $('#login').on('click', function (){
            var username = $('input[name="username"]').val(),
                password = $('input[name="password"]').val();
            var showError = function (msg){
                var $error = $('#error');
                $error.html(msg).show();
            }
            var hideError = function (){
                $('#error').hide();
            }

            var info = '';
            if (!username){
                info += '用户名为空；';
            }
            if (!password){
                info += '密码为空';
            }
            if (info){
                showError(info);
                return;
            } else {
                hideError();
            }
            $.ajax({
                type:'POST',
                url: './doLogin',
                dataType: 'json',
                success: function (result){
                    result = (result.stat ? result : $.parseJSON(result));
                    if (result.stat === 'success'){
                        hideError();
                        $('#form').submit();
                    } else {
                        showError('用户名或密码错误');
                    }
                },
                complete: function (){
                },
                error: function (err){
                },
                data: {
                    username: username,
                    password: password
                }
            });
        });
    });
});
</script>
